<mat-toolbar color="primary">
  <span>My Application</span>
</mat-toolbar>

<h3>Raised BUttons</h3>
<div class="example-button-row">
  <button mat-button>text</button>
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button routerLink=".">Link</a>
</div>

<mat-radio-group>
  <mat-radio-button value="value1">Option1</mat-radio-button>
  <mat-radio-button value="value2">Option2</mat-radio-button>
</mat-radio-group>